    @media(max-width:620px){
        body{
            display: none;
        }
    }
    body{
    color: #ff6464;
    font-weight:bold;
    font-size:20px;
    background-color: #bfe5f79d;
    text-align: center;
    }
    #top {
        border: 10px solid #a2c7e9;
        display: grid;
        float: left;
    }
    #info {
        font-family: serif;
        text-align: right;
        float: right;
        margin-top: 30px;
        margin-right: 15px;
    }
   #menu{
       color: white;
       font-family: serif;
       clear: both;
       border:rgb(0, 97, 177); 
       text-align: center;
       font-weight: bold;
       font-size: 22px;
       list-style-type:none;
   } 
   #menu ul{
        background-color: steelblue;
    }
    #menu li{
        display: inline;
        margin:0 40px 0 40px;
    }
    
    h1{
        font-family: serif;
        float: left;
        font-size: 30px;
        margin: 30px;
    }
   
    
      table, td, th{
        border-collapse:collapse;
        width:500px;
        height:20px;
      }
      .notice{
        font-size:13px;
        font-weight:bold; 
      }
      .id{
        font-size:20px;
        font-weight:bold;
        width:10px;
      }
